body{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

.formContainer{
    position: relative;
    width: 20%;
    height: fit-content;
    padding: 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
}

.formContainer form{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photoPreview{
    position: relative;
    width: 260px;
    height: 260px;
    border-width: 3px;
    border-style: dashed;
    border-color: gray;
    border-radius: 10px;
}

.container {
    position: relative;
    width: 80%;
    height: 500px; /* Ajusta según sea necesario */
    padding: 2%;
    background-color: white;
    gap: 10px; /* Espacio entre las fotos */
    border-radius: 10px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.81fr 1fr 0.81fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px; /* Desplazamiento vertical si hay muchas imágenes */
}

.photoContainer{
    position: relative;
    width: 80%;
    height: fit-content;
}

.photo{
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%; /* Ocupa todo el ancho del contenedor de la celda */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre el contenedor sin distorsionar la imagen */
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

button{
    background-color: #084cdf;
    height: 30px;
    color: white;
    border-style: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas más pequeñas en pantallas pequeñas */
    }
}